#top #wrap_all .avia-slideshow .av-slideshow-caption.av-2g5cp-ac024c8f52b750fc896956c8e91139f5__0 .avia-caption-title {
    font-size: 70px;
}

#top .avia-slideshow .av-slideshow-caption.av-2g5cp-ac024c8f52b750fc896956c8e91139f5__0 .avia-caption-content {
    font-size: 22px;
}

#top .avia-slideshow .av-slideshow-caption.av-2g5cp-ac024c8f52b750fc896956c8e91139f5__0 .avia-caption-content p {
    font-size: 22px;
}